.header1 {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header--image1 {
  height: 100%;
  margin-right: 6px;
}
.header--title1 {
  font-size: 1.25rem;
  margin-right: auto;
}
.header--project {
  font-size: 0.73rem;
  font-weight: 500;
}
